/*
 * no gutters idea from:
 * http://julienmelissas.com/no-gutter-column-trick-for-bootstrap/
 */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
} 
